<span class="activity-list-item-date"><b><%= activity_list_item.activity.start.strftime(current_user.time_format.get_long_date[:value]) %></b></span>
<div class="todo-calendar-list-label"><%= activity_list_item.calendar_text %></div>