<div id="todo_calendar" class="todo-calendar">
	<%=	render :partial => "/widgets/todo/todo_calendar"  %>
</div>
<!-- <div style="text-align:right;">
	<%#= link_to_function "Today", "Stixy.nothing()", :id => "todo_calendar_today" %>
</div> -->
