<h2>Editing version</h2>

<span class="adminmenu"><%= link_to 'Back', :action => 'list' %></span>

<% form_tag(:action => 'update', :id => @version) do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>


