<div style="margin:24px 144px 24px 144px">
<h1>Thank you!</h1>
<p>Thank you for showing an interest for the Stixy calendar. We'll notify you as soon as we are ready to release.
</div>

<% 
@buttons = "#{ link_to_function "Close", 'window.parent.Stixy.popup.close()', :button => {:type => 'default'} }"
%>
