<html>
<head></head>
<body style="margin:0;">
<div style="background:url(cid:mt_guest_bg_pattern) white top center;padding-bottom:24px;" >
	<div style="background:white;overflow:hidden;height:24px;">&nbsp;</div>
	<center>
		<div style="position: relative; width: 624px; left: 1px; margin: 24px auto; padding: 0px; border: 1px solid rgb(235,235,235);">
			<div style="font-size:11px; line-height:140%; font-family:verdana; position: relative; text-align: left;padding: 0 48px 24px 48px; background: white; min-height: 479px; z-index: 0;">
				<img src="cid:mt_guest_signature" width="86" height="68" style="margin-left:-5px; " >
				<p style="color:rgb(150,150,150);text-align:right;font-family:Georgia;font-size:12px;"><%= Time.now.strftime("%B %d, %Y %I:%M %p") %></p>
				
				<h1 style="font-size: 2.2em;font-family: Georgia;font-weight: normal;color:rgb(150,210,10);margin: 0 0 0.2em;">Hello!</h1>
				<p style="font-size:15px;line-height:140%;font-family:Georgia;color:rgb(100,100,100);"><%= 	@sender.display_name %> wants to let you know that the Stixyboard <strong style="color:rgb(150,210,10)"><%= @board.display_name  %></strong> has been updated.</p>		
				
					<% if @content and not @content.empty? %>
					<table style="border-collapse:collapse;color:rgb(150,210,10);z-index:0; background-color:rgb(245,255,210);width:100%;">
						<tr>
							<td style="padding:12px 16px 6px;color:rgb(100,100,100);vertical-align:top;font-size:11px;">Personal message from <strong><%#= @sender.display_name %></strong></td>
						</tr>
						<tr>
							<td style="padding:6px 16px 24px;font-size:15px;line-height:140%;font-family:Georgia;min-height:50px;vertical-align:top;">
								<%= @content.gsub(/\n/, "<br>") %>
							</td>
						</tr>
					</table>
					<% end %>
					
					<% url = "http://#{ SERVER }#{ url_for :controller => "board", :id => @board.id }"  %>					
					<div style="position:relative;color:rgb(100,100,100);margin:24px 0 32px;font-size:15px;line-height:140%;font-family:Georgia;">
						To view this Stixyboard, follow the link <a style="color:rgb(45,130,215);text-decoration:none;" href="<%= url %>"><%= url %></a>.
					</div>	
			</div>
			<div style="font-family:verdana; position: relative; font-size: 10px; clear: both; background-color: rgb(245,245,245); height: 24px; padding: 0 48px;">
				<div style="float: left; margin: 5px 12px 0px 0px; color: rgb(150,150,150);">&copy; STIXY</div>
			</div>
		</div>
	</center>
</div>
</body>
</html>