<html>
<head></head>
<body style="margin:0;">
<div style="background:url(cid:mt_guest_bg_pattern) white top center;padding-bottom:24px;" >
	<div style="background:white;overflow:hidden;height:24px;">&nbsp;</div>
	<center>
		<div style="position: relative; width: 624px; left: 1px; margin: 24px auto; padding: 0px; border: 1px solid rgb(235,235,235);">
			<div style="font-size:11px; line-height:140%; font-family:verdana; position: relative; text-align: left;padding: 0 48px 24px 48px; background: white; min-height: 479px; z-index: 0;">
				<img src="cid:mt_guest_signature" width="86" height="68" style="margin-left:-5px; " >
				<p style="color:rgb(150,150,150);text-align:right;font-family:Georgia;font-size:12px;"><%= Time.now.strftime("%B %d, %Y %I:%M %p") %></p>
				<%= @content %>
			</div>
			<div style="font-family:verdana; position: relative; font-size: 10px; clear: both; background-color: rgb(245,245,245); height: 24px; padding: 0 48px;">
				<div style="float: left; margin: 5px 12px 0px 0px; color: rgb(150,150,150);">&copy; STIXY</div>
			</div>
		</div>
	</center>
</div>
</body>
</html>