<%= html2text(@content) %>

This email was sent by newsletter@stixy.com. You can easily unsubscribe to future newsletters from Stixy. To do so, open http://www.stixy.com/setting/ and unselect "Receive newsletter".

We value your privacy and will at no time make your e-mail address available to a third party without your permission.