<html>
<head></head>
<body style="margin:0;">
<div style="background:white top center;padding-bottom:24px;" >
	<div style="background:white;overflow:hidden;height:24px;">&nbsp;</div>
	<center>
		<div style="position: relative; width: 624px; left: 1px; margin: 24px auto; padding: 0px; border: 1px solid rgb(235,235,235);">
			<div style="font-size:11px; line-height:140%; font-family:verdana; position: relative; text-align: left;padding: 24px 48px 24px 48px; background: white; min-height: 479px; z-index: 0;">
				<p style="color:rgb(150,150,150);text-align:right;font-family:Georgia;font-size:12px;"><%= Time.now.strftime("%B %d, %Y %I:%M %p") %></p>
				<%= @content %>
				<div>
					<hr style="position:relative; top:0;border-width:1px 0 0; border-style:solid;border-color:rgb(225,225,225);height:1px; margin:24px 0;">
					<span style="color:rgb(150,150,150)">You can easily <strong>unsubscribe</strong> to future newsletters from Stixy. <br>To do so, open <a href="http://www.stixy.com/setting/">Personal Setting</a> and unselect <strong>Receive newsletter</strong>.</span>
					<p style="color:rgb(150,150,150)">We value your privacy and will at no time make your e-mail address available to a third party without your permission.</p>
				</div>
			</div>
			<div style="font-family:verdana; position: relative; font-size: 10px; clear: both; background-color: rgb(245,245,245); height: 24px; padding: 0 48px;">
				<div style="float: left; margin: 5px 12px 0px 0px; color: rgb(150,150,150);">&copy; STIXY</div>
			</div>
		</div>
	</center>
</div>
</body>
</html>