Hello <%= @user.display_name %>

Your password has been reset an in now set to: <%= @password %>
Use the new password to sign-in to Stixy (http://<%= SERVER %>/signin).

If you would like to change the new password into something of your own choice, go to "Personal settings", after you have signed, and update the password.

Best regards,
The Stixy Team

If you think this e-mail has been sent to you by mistake, contact us at Stixy at support@stixy.com, and we will help you.