<html><head><title></title></head><body>

<div style="background: white url(cid:mt_guest_bg_pattern) repeat scroll center top; padding-bottom: 24px;">
	<div style="background: white none repeat scroll 0%; overflow: hidden; height: 24px;"> </div>
	<center>
		<div style="border: 1px solid rgb(235, 235, 235); margin: 24px auto; padding: 0px; position: relative; width: 624px; left: 1px;">
			<div style="position:relative;z-index:1;padding: 0pt 48px 24px; background: white none repeat scroll 0%; font-size: 12px; color:rgb(50,50,50); line-height: 160%; font-family: verdana; position: relative; text-align: left; min-height: 479px; z-index: 0;">
				<img width="86" height="68" style="margin-left: -5px;" src="cid:mt_guest_signature"/>
				<h2 style="margin: 40px 0pt 0.2em; font-size: 2.2em; font-family: Georgia; font-weight: normal; color: rgb(150, 210, 10);margin-bottom:15px;">Hello There</h2>
				<p><b style="color: rgb(80, 80, 80)">Welcome to Stixy!</b> Since you may not have heard that much about Stixy, I thought I'd give you a short introduction.</p>

				<p>If you prefer to sign in right away, go to <a href="http://www.stixy.com/signin">http://www.stixy.com/signin</a>. Sign in by using your email address and the password you picked when signing up.<p/>
				<h3 style="margin: 1em 0pt 0.2em; font-size: 1.1em; color: rgb(80, 80, 80);">This is Stixy</h3>
				<div style="position:relative; width:059px; height:087px; margin-left:10px; float:right; clear:right; z-index:0"><img src="cid:welcome_01" width="107" height="087" style="position:absolute; left:0px; z-index:-1"></div>
				<div style="position:relative; width:229px; height:210px; margin-left:20px; float:right; clear:right; z-index:0"><img src="cid:welcome_02" width="277" height="210" style="position:absolute; left:0px; z-index:-1"></div>
				<div style="position:relative; width:261px; height:028px; margin-left:10px; float:right; clear:right; z-index:0"><img src="cid:welcome_03" width="309" height="028" style="position:absolute; left:0px; z-index:-1"></div>
				<div style="position:relative; width:373px; height:101px; margin-left:10px; float:right; clear:right; z-index:0"><img src="cid:welcome_04" width="421" height="101" style="position:absolute; left:0px; z-index:-1"></div>
				Think of Stixy as your <b style="color: rgb(80, 80, 80)">online bulletin board</b> where you can collect, organize, share and collaborate around any kind of information. You can create as many Stixyboards as you like, one for each project, and select whether you want to share your Stixyboard with others, or keep it for your own use only.<p/>

				<p>Stixy is incredibly <b style="color: rgb(80, 80, 80)">easy</b> and <b style="color: rgb(80, 80, 80)">fun</b> to work with. And it is <b style="color: rgb(80, 80, 80)">free.</b></p>
				<h3 style="margin: 1em 0pt 0.2em; font-size: 1.1em; color: rgb(80, 80, 80);">How to use Stixy
				</h3>
				Here are a few examples on how you may choose to use Stixy.   
				<ul style="padding:0 0 0 15px;margin-left:0">    
				  <li style="margin:0;list-style-type:circle;"><b style="color:rgb(180,60,150)">Keep track of</b> your family's schedule
				  <li style="margin:0;list-style-type:circle;"><b style="color:rgb(180,60,150)">Collaborate</b> and share in projects at work
				  <li style="margin:0;list-style-type:circle;"><b style="color:rgb(180,60,150)">Gather</b> online research; images, links, screenshots etc.
				  <li style="margin:0;list-style-type:circle;"><b style="color:rgb(180,60,150)">Organize</b> an upcoming holiday with your friends
				  <li style="margin:0;list-style-type:circle;"><b style="color:rgb(180,60,150)">Share</b> photos from your last bike trip
				</li></ul>
				But it is really up to you as to how you want to use Stixy. <b style="color: rgb(80, 80, 80)">Only you</b>, your needs and imagination, <b style="color: rgb(80, 80, 80)">set the limits</b>.<p/>

				<p/><h3 style="margin: 1em 0pt 0.2em; font-size: 1.1em; color: rgb(80, 80, 80);">How to get started</h3>
				There is a Help tutorial at <a href="http://www.stixy.com/how_stixy_works">http://www.stixy.com/how_stixy_works</a> for you to read if you wish. But here are a few things to get you going.<p/>
				
				<p>To start a new Stixyboard, sign in to Stixy, and select <img src="cid:new_stixyboard" width="120" height="18" style="position:relative;top:3px" alt="New Stixyboard"></p>
				<p>Now start being <b style="color: rgb(80, 80, 80)">creative</b>! We have <b style="color: rgb(80, 80, 80)">no fixed grid</b> that you need to follow. Just drag a widget out on the board and place it anywhere you want. <b style="color: rgb(80, 80, 80)">Resize</b> it, <b style="color: rgb(80, 80, 80)">move</b> it around, and select from a number of options to <b style="color: rgb(80, 80, 80)">design</b> your reminders, photos, notes, and files.</p>
				

				<p>If you wish, you can <img src="cid:share" width="64" height="18" style="position:relative;top:3px" alt="Share"> your Stixyboard with others, perhaps friends, family, or your colleagues at work.</p>
					
				<p>There are different <b style="color: rgb(80, 80, 80)">levels of access</b> ranging from view only to full sharing and true collaboration. You find the settings under Stixyboard options. Each Stixyboard has a unique set of members as well as access settings. No one else can see or use your board unless you choose to open your board for public view.</p>
				
				<p>If you have any questions, send an email to <a href="mailto:feedback@stixy.com">feedback@stixy.com</a>.</p>

				<p>We hope that you will enjoy Stixy as much as we do.</p>

				<p>Take care<br/>
				Maria<br/>
				The Stixy Team</p>
				

				<div>
					<hr style="border-style: solid; border-color: rgb(225, 225, 225); border-width: 1px 0pt 0pt; margin: 24px 0pt; position: relative; top: 0pt; height: 1px;"/>
					<span style="color: rgb(150, 150, 150);">You can easily <strong>unsubscribe</strong> to future newsletters from Stixy. To do so, open <a href="http://www.stixy.com/setting/">Personal Setting</a> and unselect "Receive newsletter".</span>
				</div>
			</div>
			<div style="padding: 0pt 48px; font-family: verdana; position: relative; font-size: 10px; clear: both; background-color: rgb(245, 245, 245); height: 24px;">
				<div style="margin: 5px 12px 0px 0px; float: left; color: rgb(150, 150, 150);">© STIXY</div>
			</div>
		</div>
	</center>
</div>
</body></html>