<h2>Editing role</h2>

<span class="adminmenu"><%= link_to 'Show', :action => 'show', :id => @role %></span> |
<span class="adminmenu"><%= link_to 'Back', :action => 'list' %></span>

<% form_tag(:action => 'update', :id => @role) do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>

