<html><head><title></title></head><body>

<div style="background: white url(http://www.stixy.com/images/main_template/mt_guest_bg_pattern.gif) repeat scroll center top; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; padding-bottom: 24px;">
	<div style="background: white none repeat scroll 0%; overflow: hidden; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; height: 24px;"> </div>
	<center>
		<div style="border: 1px solid rgb(235, 235, 235); margin: 24px auto; padding: 0px; position: relative; width: 624px; left: 1px;">
			<div style="padding: 0pt 48px 24px; background: white none repeat scroll 0%; font-size: 11px; line-height: 140%; font-family: verdana; position: relative; text-align: left; -moz-background-clip: -moz-initial; -moz-background-origin: -moz-initial; -moz-background-inline-policy: -moz-initial; min-height: 479px; z-index: 0;">
				<img width="86" height="68" style="margin-left: -5px;" src="http://www.stixy.com/images/main_template/mt_guest_signature.png"/>
				<p style="color: rgb(150, 150, 150); text-align: right; font-family: Georgia; font-size: 12px;">March 18, 2008 07:44 AM</p>
				<h2 style="margin: 40px 0pt 15px; font-size: 2.2em; font-family: Georgia; font-weight: normal; color: rgb(150, 210, 10);">Hello there!</h2>
<p>
Just a short note to keep you updated on what is going on with Stixy.
</p><p>
</p>

<div style="position:relative;z-index:10;float:right;width:257px;height:230px;margin-left:10px; no-repeat;"><img src="http://www.stixy.com/images/newsletter/2008-03-18/bar.gif"><div style="position:absolute;z-index:10;width:281px;height:219px;top:140px;left:44px; no-repeat;"><img src="http://www.stixy.com/images/newsletter/2008-03-18/photo.gif"></div></div>
<div style="position:relative;z-index:10;float:right;width:204px;height:128px;margin-left:10px;margin-bottom:5px;clear:right">&nbsp;</div>
<h3 style="margin: 1em 0pt 0.2em; font-size: 1.1em; color: rgb(80, 80, 80);">Duplicate Widgets</h3>
Now you can copy widgets between boards. First, make sure that your list over Stixyboards is open. You find it to the left of your board. To copy a widget between boards, grab the widget and drop it on the Stixyboard of choice in the list. It’s as easy as it gets.

<p>
</p><h3 style="margin: 1em 0pt 0.2em; font-size: 1.1em; color: rgb(80, 80, 80);">Recover Widgets</h3>
If a widget is deleted from a board by mistake, it can now easily be recovered. Just go to the bottom of the Stixyboard Options bar, and select Recover deleted widgets.
<p>
</p><h3 style="margin: 1em 0pt 0.2em; font-size: 1.1em; color: rgb(80, 80, 80);">Support for Safari</h3>
We are glad to announce that Stixy now has support for Safari. As always, we’ve worked hard to make everything look and work the same, no matter which browser you’re using (as long as we support it).
<p>
</p><h3 style="margin: 1em 0pt 0.2em; font-size: 1.1em; color: rgb(80, 80, 80);">Upcoming News</h3>
We have a number of new features coming out during 2008. In just a few weeks we will release a new major feature, which will improve Stixy’s ability to help our users to stay even more organized. But more about that in a week or two. 
<p>
</p><h3 style="margin: 1em 0pt 0.2em; font-size: 1.1em; color: rgb(80, 80, 80);">Sharing Examples</h3>
We thought we’d set up a more extensive list of examples on how to use Stixy – and who has better examples than you, our users. If you want to share one or two examples of your Stixyboards on our homepage, please send an e-mail to xxx.
<p>
As always, please get back to us with any feedback you may have. Good or bad.
</p><p>
Enjoy!
</p><p>
Maria<br/>
The Stixy Team

				</p><div>
					<hr style="border-style: solid; border-color: rgb(225, 225, 225); border-width: 1px 0pt 0pt; margin: 24px 0pt; position: relative; top: 0pt; height: 1px;"/>
					<span style="color: rgb(150, 150, 150);">You can easily <strong>unsubscribe</strong> to future newsletters from Stixy. To do so, open <a href="http://www.stixy.com/setting/">Personal Setting</a> and unselect "Receive newsletter".</span>
				</div>
			</div>
			<div style="padding: 0pt 48px; font-family: verdana; position: relative; font-size: 10px; clear: both; background-color: rgb(245, 245, 245); height: 24px;">
				<div style="margin: 5px 12px 0px 0px; float: left; color: rgb(150, 150, 150);">© STIXY</div>
			</div>
		</div>
	</center>
</div>
</body></html>