<h2>Editing user</h2>

<span class="adminmenu"><%= link_to 'Show', :action => 'show', :id => @beta_user %></span> |
<span class="adminmenu"><%= link_to 'Back', :action => 'list' %></span>

<% form_tag(:action => 'update', :id => @beta_tester) do -%>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end -%>


