<h2>Users list</h2>
<span class="adminmenu"><%= link_to 'New user', :action => 'new' %></span>
<span class="adminmenu"><%= link_to 'Mail', :action => 'mail' %></span>
<%= render :partial => "users_list" %>