<%= render :partial => "public_navigation" %>
<div class="full-column">
	Our blog has moved. Please visit the blog at <a href="http://stixy.wordpress.com" target="_stixy_blog">http://stixy.wordpress.com</a>
</div>