<%= render :partial => "public_navigation" %>
<div class="full-column">
	<h1>Contact Us</h1>
	If you have any questions at all, please contact us at <%= mail_to "contact@stixy.com" %>,
	or directly to <%= mail_to "anders@stixy.com" %> or <%= mail_to "jonas@stixy.com" %>
</div>