<div class="full-column">
	<h1>Help</h1>
	<p>We aren't able to give you the support we would like to during our beta phase. 
	But we promise that we will answer your questions and comments as fast as we can.
	Just send an e-mail to <%= mail_to "help@stixy.com"  %>.</p>
	<p>Or, if you like, try asking your friends who also use Stixy. </p>
	<p><%= link_to_function "Back", "back()" %></p>
</div>
